@import "../../../common.scss";

.add-meal-btn-container{
    button {
        border: none;
        background-color: $font-color;
        color: white;
        cursor: pointer;
        padding: 5%;
        font-size: 100%;
      }

      button:hover{
        background-color: #3d3b3b;
      }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    
}