.review-card-container{
    height: 15vh;
    display: flex;
    flex-direction: row;

    .profile-image-container{
        width: 5%;
        margin: 0;
        display: flex;
        align-items: flex-start;
        margin-right: 2%;

        img{
            width: 100%;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }

    .review-information-container{
        width: 95%;
        align-items: flex-start;

        .star-rating-container{
            .star{
                color: #E5C300;
            }
        }

        h2{
            margin: 0;
        }

        .review-date{
            font-size: 65%;
        }
    }
}