@import "../../common.scss";

.product-container{
    width: $common-width;
    padding: $common-padding;
    color: $font-color;
    padding-top: 6vh;
    padding-bottom: 4vh;

    .row{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;

        .product-image{
            width: 35%;
            border-radius: 3%;
            max-height: 50vh;
        }

        .product-details-container{
            width: 35%;

            .special-save-container{
                width: 100%;
                text-align: center;
                background-color: $font-color;
                border: 3px solid $font-color;
                box-sizing: border-box;
                padding-top: 1%;
                padding-bottom: 1%;

                h1{
                    font-size: 150%;
                    color: white;
                    margin: 0;
                }
            }

            .product-information-container{
                &.special{
                    border: 3px solid $font-color;
                }

                &.original{
                    border: 3px solid $font-color;
                }
                box-sizing: border-box;
                width: 100%;
                height: auto;
                text-align: left;
                padding: 5%;
                padding-top: 2%;

                .product-special-price{
                    color: rgb(120, 117, 117);
                    text-decoration: line-through;
                    margin: 0;
                }

                button {
                    width: 30%;
                    padding-top: 2.5%;
                    padding-bottom: 2.5%;
                    border: none;
                    font-size: 110%;
                    background-color: $font-color;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    border-radius: 10px;
                    margin-top: 10%;
                }
            }
        }
    }
    .product-about{
        text-align: left;
        padding-left: 3vw;
        width: 90%;

        p{
            font-size: 150%;
        }
    }
}