@import "../../../common.scss";

.site-header{
    width: $common-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $common-padding;
}
.site-header a{
    text-decoration: none;
}
.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}
.site-buttons{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

